#demo{
	margin-right: 2%;
}
.carousel-inner img {
      height: 300px;
     
  }
  #rr{
  	width: 70%;
  	margin-left: 14%;
  	text-align: center;
  	float: left;
  	
  }
  .list-group-item{
  	
  	text-shadow: ellipsis;
  	font-size: 18px;
  }
  #bianhong{
  	background-color: #fe5235;
  	color: white;
  }
  #border-none {
  	border: 0px solid transparent !important;

  }
  .list1-group-item{
  	height: 38px;
  	font-size: 18px;
  	padding: 5px 10px;
  	border-radius: 5px;
  	text-align: center;
  	margin-bottom: 10px;
  }
    .list1-group-item:hover{
    background-color: #fe5235;
  	color: white;
  }
  .biaodan{
  	width: 100%;
  	margin-right: 10%;
  	height: 320px;
  	background-color: #f2f2f5;
  	padding: 20px;
  	transition: 1s;
  
  	
  }
.biandan-kuang{
	margin-bottom: 2px;
	
	
	
}
.biandan-kuang ul{
	padding: 0px;
	
	overflow: auto;
}
  .biandan-kuang ul li{
  	float: left;
  	font-family: "微软雅黑";
  	font-weight: 600;
  	width: 50%;
  	font-size: 14px;
  	color: #999;
  	text-align: center;
  	padding: 2px 10px;
  	border-bottom: 1px solid #f2f2f5;
  }
   .biandan-kuang ul li:hover{
   	cursor: pointer;
   }
   .yonghuming{
   	width: 100%;
   	padding: 4px;
    margin-bottom: 24px;
   	border: 1px solid #cfcfcf;
   	
   }
   .mima{
   	width: 100%;
   	padding: 4px;
    margin-bottom: 16px;
   	border: 1px solid #cfcfcf;
   }
   #userID,#userPassWord{
   	border: none;
   	outline: none;
   	margin-left: 8px;
   	width: 100px;
   	background-color: transparent;
	font-size: 12px;
   }

   #zhanghao{
   	border-bottom:3px solid #fa7d3c;
	color:#0f1012
   }
   .Text{
   	margin-bottom: 16px;
   	
   }
   .Text label{
   	color: #808080;
   	font-size: 12px;
   	vertical-align: middle;
   }
   .Text span{
   	color: #808080;
   	cursor: pointer;
   	float: right;
   	display: inline-block;
   	margin-top: 2px;
   	font-size: 12px;
   	
   }
   .hh{
   	transition: background-color,color 1s;
   	transition-timing-function: ease;
   	background-color: #ff8140;
   	color: white;
   }
    .tishi{
   	margin: 4px 0px;
   }
   .tishi span{
   	color: #808080;
   }
   .tishi span,.tishi a{
   	font-size: 12px;
   }
   .tishi a{
   	color: #ff8140;
   	cursor: pointer;
   }
   .biaodankuang2{
   }
   .kuang{
   	background-color: white;
   	padding: 6px;
   	
   }
   .erwei{
   	padding: 4px ;
   	position: absolute;
   	top:70px;
   	right: 50px;
   	display: none;
   }
   .tishi2{
   	text-align: center;
   	margin-top: 8px;
   }
     .tishi2 span{
   	color: #808080;
   }
   .tishi2 span,.tishi2 a{
   	font-size: 12px;
   }
    .tishi2 a{
   	color: #ff8140;
   	cursor: pointer;
   }
   .body-list{
   	margin-top: 20px;
   	
   }
   .body-list p{
   	font-size: 14px;
   	font-family: arial;
   }
   #demo{
   	transition: box-shadow  0.4s;
   	transition-timing-function: ease;
   /*	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);*/
   }
   .yonghu {
   	padding: 10px 0;
   	
   }
   .yonghu span {
   	font-size: 12px;
   }
   .yonghu span {
   	display: inline-block;
   	
   	height: 20px;
   	
   	margin-right: 10px;
   	/*border-radius: 50%;*/
   	/*background-image: url(../img/Register-img/girl.png);*/
   }
   .yonghu span img {
   	vertical-align:middle;
   }
   .yonghu span,
   {
   	font-family: arial;
   }
   .yonghu span.kaoyou {
   	float: right;
   	padding: 0 6px;
   	
   }
   .zhanshi {
   	padding: 10px 8px;
   	padding-left: 100px;
   	margin-top: 16px;
   	position: relative;
   	
   	border-top: 2px solid #d65252fc;
   	
   	background-color: #f2f2f5;
   }
   .zhanshi .tu {
   	display: inline-block;
   	position: absolute;
   	top: 10px;
   	left: 8px;
   	
   	
   	margin-right: 20px;
   	width: 80px;
   	height: 60px;
   }
   .zhanshi h3 {
   	display: inline-block;
   	
   	font-size: 14px;
   }
/*.zhanshi span {
	font-family: arial;
   	color: rgb(110,110,110);
   	
   	font-size: 12px;
}*/
.you {
	font-family: arial;
   	color: rgb(110,110,110);
   	font-size: 12px;
	display: inline-block;
	overflow: hidden;
}
.chakan {
	border-top: 1px solid #d8d8d8;
	font-size: 12px;
	padding: 8px 6px;
	text-align: center;
	
   	background-color: #f2f2f5;
	
}
.chakan a {
   	color: rgb(110,110,110);
	s
}
  